<h2 mat-dialog-title>Bank</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Code</mat-placeholder>
          <input type="text" required formControlName="code" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Name</mat-placeholder>
          <input type="text" required formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Status</mat-placeholder>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusData" [value]="status.key">
              {{ status.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button color="primary" [disabled]="!form.valid">Create Bank</button>
    <button *ngIf="isUpdateMode()" mat-button color="primary" [disabled]="!form.valid">Update Bank</button>
  </mat-dialog-actions>
</form>
