<div class="all-in-one-table">

  <div class="container">

    <vr-list name="Items" [columns]="columns" (filterChange)="onFilterChange($event)">
      
      <div class="actions" fxFlexAlign="center">
        <button class="create" (click)="createLine()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>

       
        <button class="create" (click)="exportData()" type="button" mat-mini-fab color="primary">
          <mat-icon>cloud_download</mat-icon>
        </button>
       
        <button class="create" (click)="generateInvoice()" type="button" mat-mini-fab color="primary">
          <mat-icon>receipt</mat-icon>
        </button>
        
      </div>

      <div class="example-loading-shade" *ngIf="isLoadingResults ">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <mat-header-cell class="actions-cell" *matHeaderCellDef>
            <!-- <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox> -->
          </mat-header-cell>
          <mat-cell class="actions-cell" *matCellDef="let row">
            <mat-checkbox *ngIf="row.status==0" [value]="row.id" color="primary" (change)="onChange($event)" ></mat-checkbox>
          </mat-cell>
        </ng-container>
        
        <!-- All Column -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
          </ng-container>
        </ng-container>


        <!-- actions Column -->
        <ng-container matColumnDef="statusString">
          <mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell class="actions-cell" *matCellDef="let row">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center">

              <button *ngIf="row.status==1" type="button" mat-mini-fab color="primary" >
                <mat-icon style="color:#FFF"  matTooltip="Paid">thumb_up</mat-icon>
              </button>
              <button *ngIf="row.status==0" type="button" mat-mini-fab color="warn" >
                <mat-icon  style="color:#FFF"  matTooltip="Not Paid">thumb_down</mat-icon>
              </button>
              <button *ngIf="row.status==0" type="button" mat-mini-fab color="warn" (click)="deleteLine(row)">
                <mat-icon  style="color:#FFF"  matTooltip="Delete">delete</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;" class="clickable"></mat-row>
      </mat-table>

      <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

    </vr-list>
  </div>

</div>
