<h2 mat-dialog-title>Company</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Name</mat-placeholder>
          <input type="text" required formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Website</mat-placeholder>
          <input type="text"  formControlName="website" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Addres</mat-placeholder>
          <input type="text"  formControlName="address" matInput>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>City</mat-placeholder>
          <input type="text" formControlName="city" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Po Code</mat-placeholder>
          <input type="text" formControlName="pin_code" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Country</mat-placeholder>
          <mat-select formControlName="country_id">
            <mat-option *ngFor="let country of countries" [value]="country.id">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Contact Person</mat-placeholder>
          <input type="text"  formControlName="person" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Phone</mat-placeholder>
          <input type="text"  formControlName="phone" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Email</mat-placeholder>
          <input type="text"  formControlName="email" matInput>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Reference</mat-placeholder>
          <input type="text" formControlName="reference" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Remarks</mat-placeholder>
          <input type="text"  formControlName="remarks" matInput>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Status</mat-placeholder>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusData" [value]="status.key">
              {{ status.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button color="primary" [disabled]="!form.valid">Create</button>
    <button *ngIf="isUpdateMode()" mat-button color="primary" [disabled]="!form.valid">Update</button>
  </mat-dialog-actions>
</form>
