<h2 mat-dialog-title>Payment</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Amount</mat-placeholder>
          <input type="number" step="any" max="{{ defaults.amount }}"  min="{{ 0 }}" formControlName="amount" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="100%" fxFlex.gt-sm>
          <input [matDatepicker]="picker1" required placeholder="Date" formControlName="date" matInput>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Mode</mat-placeholder >
          <mat-select formControlName="mode_id" required>
            <mat-option *ngFor="let mode of modes" [value]="mode.id">
              {{ mode.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-placeholder>Remarks</mat-placeholder>
          <input type="text" formControlName="remarks" matInput>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button color="primary" [disabled]="!form.valid">Create Payment</button>
    <button *ngIf="isUpdateMode()" mat-button color="primary" [disabled]="!form.valid">Pay</button>
  </mat-dialog-actions>
</form>
